<header>
  <div class="header__div-logo">
    <!-- <div>
      <h1 style="color: var(--amarillo2);">Proyectando<br><strong style="color: var(--gris2);text-align: right;">Juntos</strong> </h1>
    </div> -->
    <figure id="header__figure-logo">
      <img src="/images/proyectando-juntos-logo6.png" alt="">
    </figure>
    <!-- <div class="header__logo-h3">
      <h3>Una comunidad <br> <strong>un equipo </strong><br> tu proyecto.</h3>
    </div> -->
  </div>
    <nav class="navbar navbar-expand-lg" id="header__navbar">
      <div class="container-fluid w-75">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-bars" style="color: white;"></i></span>
        </button>
        <div>
          
        </div>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="#">Proyectos</a>
            <a class="nav-link" href="/aboutUs">Sobre nosotros</a>
            <a class="nav-link" href="#">Links utiles</a>
          </div>
        </div>
      </div>
    </nav>
  </header>