<nav class="index__nav-carousel">
    <h2>Proyectos destacados</h2>
    <div id="carouselExampleDark" class="carousel carousel slide col-6 d-none d-lg-block text-center" data-bs-ride="carousel">
      <div class="carousel-indicators d-flex justify-content-center">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active text-center" data-bs-interval="10000">
          <img src="/images/WIREFRAME/LOGO/Logo.png" class="d-block responsive img-fluid mx-auto opacity" alt="...">
          <div class="carousel-caption d-none d-md-flex flex-column">
            <h5>tambienLadramos</h5>
            <div>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fa-brands fa-square-js"></i>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center" data-bs-interval="10000">
          <img src="/images/proyectando-juntos-logo6.png" class="d-block responsive img-fluid mx-auto opacity" alt="...">
          <div class="carousel-caption d-none d-md-flex flex-column">
            <h5>Proyectando Juntos</h5>
            <div>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fa-brands fa-square-js"></i>
            </div>
          </div>
        </div>
        <div class="carousel-item text-center" data-bs-interval="10000">
          <img src="/images/WIREFRAME/LOGO/Logo.png" class="d-block responsive img-fluid mx-auto opacity" alt="...">
          <div class="carousel-caption d-none d-md-flex flex-column">
            <h5>tambienLadramos</h5>
            <div>
              <i class="fa-brands fa-html5"></i>
              <i class="fa-brands fa-css3-alt"></i>
              <i class="fa-brands fa-square-js"></i>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev d-flex justify-content-end" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next d-flex justify-content-start" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </nav>