<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  
  <body>
    
    <%- include('./partials/header'); %>
    
    <main class="index__main">
      
      <%- include('./components/carousel'); %>

      <section>

        <article>
          <div>
            <p>
              Todos sabemos que un proyecto siempre es un desafío desde el punto de vista que se lo mire. Desde la fase de iniciación hasta su finalización, cada paso debe ser ejecutado en forma efectiva, considerando los objetivos, los plazos y los costos (entre otros muchos aspectos).
              Por eso es que, en esta época en que lo "colaborativo" es tan importante, presentamos esta iniciativa como un punto de encuentro de todos los proyectos que quieran ser no sólo compartidos, sino mejorados.
            </p>
            <p>
              Apuntamos siempre a la mejora, y pretendemos lo mismo de nuestros usuarios, personas que entiendan que del otro lado hay alguien que necesita quizás ayuda, un intercambio de ideas o simplemente una opinión sobre el proyecto que ha compartido, y en este punto decimos ¡presente!.
            </p>

          </div>
        </article>

      </section>

    </main>
    

    <%- include('./partials/footer'); %>

  </body>
</html>
