.index__main {
  width: 100%;
  height: 100%;
  position: relative;
  background: linear-gradient(
    var(--petroleo3),
    var(--crema3),
    var(--grisCrema3)
  );
  background-repeat: no-repeat;
  background-size: 100%;
}

/* .index__main-nav::after {
  width: 100%;
  height: 100%;
  position: absolute;
  inset:0;
  content:"";
  background-image: url("/images/puzzle_001.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.1;
  z-index: 0;
} */

/* .index__main-nav > * {
  z-index: 10;
  position: relative;
} */

.index__main-nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index__main-section1 img {
  width: 10vw;
}

.index__main-section1::after {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  content: "";
  background-image: url("/images/puzzle_001.jpg");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.09;
  z-index: 0;
}

.index__main-section1 > * {
  z-index: 10;
  position: relative;
}

.index__main-section1 {
  margin-top: 5vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.index__main-section1 span {
  font-size: 1.1rem;
  color: var(--gris2);
}

.index__main-section1 article {
  width: 45%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  border: 0.1vw dotted black;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.2) inset;
  border-radius: 1vh;
  margin: 1vw;
  padding: 1vw;
  background: linear-gradient(
    var(--crema3),
    var(--petroleo3),
    var(--grisCrema3)
  );
  background-repeat: no-repeat;
  background-size: 100%;
  color: black;
}

.index__main-section1 article .index__article-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1vw;
  padding: 1vw;
}

.index__main-section1 article .index__article-buttons div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index__main-section1 article .index__article-buttons div a {
  width: 75%;
  border: 0.1vw dotted black;
  border-radius: 100vh;
  background-color: var(--petroleo3);
  text-decoration: none;
  text-align: center;
  align-self: center;
}

.index__main-section1 article .index__article-buttons div a span {
  color: white;
}

.index__div1,
.index__div2,
.index__div3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index__main-section1 .index__article1 h3,
.index__main-section1 .index__article2 h3,
.index__main-section1 .index__article3 h3 {
  align-self: center;
  margin: 1vw;
  padding: 1vw;
}



.hover:hover span {
  color: var(--amarillo3);
  background-color: var(--petroleo3);
  border-radius: 1vh;
}

.opacity0 {
  opacity: 0;
  transform: scale(100%);
  transition: all linear 2s ease-in;
  
}

.opacity1 {
  opacity: 1;
  transform: scale(100%);
  transition: all linear 2s ease-out;
}

.index__article-buttons:hover .index__article-buttons div a{
  color: red;
}